
body {
    background-image: url("Images/cafeee.jpg");
    background-repeat: no-repeat;           
    background-size: cover;               
    background-position: center;       
    margin: 0;                        
    font-family: cursive;         
}
